.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.content .background-image {
  height: 250px;
  width: 100%;
  position: relative;
  border: 1px solid #ccc;
  border-bottom: none;
}
.content .background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .background-image:hover .hidden-btn {
  opacity: 1;
  visibility: visible;
}
.content .info {
  background-color: #f7f7f7;
  height: 60px;
  position: relative;
  padding-left: calc(150px + 2rem);
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
}
.content .info .avatar {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  border: 3px solid white;
  border-radius: 50%;
  overflow: hidden;
}
.content .info .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: black;
}
.content .info .avatar:hover .hidden-btn {
  opacity: 1;
  visibility: visible;
}
.content .info .full-name {
  font-size: 20px;
}
.content .info .full-name .username {
  font-weight: bold;
  font-size: 16px;
}
.content .images {
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  gap: 1rem;
}
.content .images.active {
  display: grid;
}
.content .images .image {
  cursor: pointer;
  width: 370px;
  height: 370px;
  background-color: #f9f9f9;
  overflow: hidden;
  position: relative;
}
.content .images .image .created-at {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  background-color: #3b5998;
  z-index: 180;
  padding: 0.5rem;
}
.content .images .image img {
  transition: 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .images .image:hover img {
  transform: scale(1.05);
}
.content .friends {
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 1rem;
}
.content .friends.active {
  display: grid !important;
}
.content .friends .wrapper {
  position: relative;
}
.content .friends .wrapper .friend {
  color: black;
  width: 100%;
  border: 1px solid #3b5998;
  display: flex;
  gap: 1rem;
  overflow: hidden;
}
.content .friends .wrapper .friend .col {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.content .friends .wrapper .friend .col .username {
  font-weight: bold;
  font-size: 16px;
  color: black;
}
.content .friends .wrapper .friend .image {
  background-color: #3b5998;
  width: 100px;
  height: 100px;
  border-radius: inherit;
  border-right: 1px solid #3b5998;
}
.content .friends .wrapper .friend .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .friends .wrapper .add-friend-button {
  background-color: #3b5998;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.25rem 0.5rem;
  font-size: 14px;
  cursor: pointer;
}
.content .hidden-btn {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.content .hidden-btn .open-modal {
  font-weight: bold;
  border: 1.5px solid #ccc;
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
}
.content .hidden-btn .open-modal:hover {
  background-color: #ccc;
  color: black;
}
.content .open-chat-button {
  font-weight: 500;
  padding: 0.5rem;
  background-color: #3b5998;
  transition: 0.3s ease-in-out;
  color: white;
}

/*# sourceMappingURL=index.css.map */
