$main-color: #3b5998;
$second-color: #5289dc;


.navbar {
    background-color: #3b5998;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    z-index: 100;
    top: 0;

    .container {
        height: 60px;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: .5rem;



        .logo {
            font-size: 35px;
            color: white;
            font-weight: 500;
        }


        .link {
            color: white;
        }

        .menu {
            display: flex;
            align-items: center;
            gap: 1rem;

            .add-post {
                border: 1px solid #ccc;
                color: white;
                padding: .5rem 1rem;
                cursor: pointer;
                font-size: 14px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
            }



            form {
                width: 350px;

                input {
                    padding: .5rem 1rem;
                    width: 100%;
                    border: 1px solid #ccc;
                    font-size: 14px;
                    height: 40px;

                }
            }

            .dropdown {
                position: relative;

                .dropdown-button {
                    color: white;
                    padding: .5rem 1rem;
                    cursor: pointer;
                    font-size: 14px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                    font-size: 17px;
                    justify-content: center;    
                }

                &:hover {
                    .dropdown-menu {
                        display: flex;
                    }
                }



                .dropdown-menu {
                    bottom: 0;
                    left: 50%;
                    transform: translateY(calc(100% + 1px)) translateX(-50%);
                    position: absolute;
                    background-color: #f9f9f9;
                    padding: 0.25rem;
                    width: 250px;
                    border: 1px solid #ccc;
                    display: none;
                    gap: 0.25rem;
                    flex-direction: column;
                
                    .menu-button {
                        display: flex;
                        gap: .5rem;
                        color: black;
                        padding: .75rem;
                        cursor: pointer;
                        transition: .2s ease-in-out;

                        &.danger {
                            color: crimson;


                            &:hover {
                                background-color: crimson;
                                color: white;
                            }
                        }



                        &:hover {
                            background-color: #f0f0f0;
                        }
                    }
                }
            }
        }
    }
}