$main-color: #3b5998;
$second-color: #5289dc;


.navbar {
    background-color: #3b5998;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    z-index: 100;
    top: 0;

    .container {
        height: 60px;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: .5rem;



        .logo {
            font-size: 35px;
            color: white;
            font-weight: 500;
        }


        .link {
            color: white;
        }

        .menu {
            display: flex;
            align-items: center;
            gap: 1rem;

            .add-post {
                border: 1px solid #ccc;
                color: white;
                padding: .5rem 1rem;
                cursor: pointer;
                font-size: 14px;
            }



            form {
                width: 350px;

                input {
                    padding: .5rem 1rem;
                    width: 100%;
                    border: 1px solid #ccc;
                    font-size: 14px;
                }
            }
        }
    }
}