{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

    {% block link %}
    {% endblock %}

    <title>The Facebook</title>
</head>
<body>
    
    <div class="navbar">
        <div class="container">
            <a href="{% url 'home' %}" class="logo">The Facebook</a>

            
            {% if request.user.is_authenticated %}
            <div class="menu">
                <form action="search/">
                    <input type="search" name="query" id="" placeholder="Search new friends ... ">
                </form>

                <div class="add-post open-modal" data-target-id="ADD-POST">New Post</div>
    
                <!-- <a href="{% url 'logout' %}" class="link">logout</a> -->
            </div>
            {% endif %}

    
        </div>
    </div>
    
    {% block content %}
    {% endblock %}

</body>
</html>