{% extends 'base.html' %}{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/tabbar.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}

<div class="content">
    <div class="background-image">
        <img src="{{ user.background_image.url }}" draggable="false">

        {% if request.user == user %}

        <div class="hidden-btn">
            <div class="open-modal" data-target-id="UPDATE-BACKGROUND-IMAGE">Update</div>
        </div>

        {% endif %}
    </div>
    
    <div class="info">
        <div class="avatar">
            <img src="{{ user.avatar.url }}" draggable="false">

            {% if request.user == user %}

            <div class="hidden-btn">
                <div class="open-modal" data-target-id="UPDATE-IMAGE">Update</div>
            </div>

            {% endif %}
        </div>
        <div class="full-name">{{ user.full_name }} <span class="username">@{{ user.username }}</span></div>

        <div class="tabs">
            <a href="?tab=images" class="tab">Images</a>
            <a href="?tab=friends" class="tab">Friends</a>

            {% if user != request.user %} 

            <a href="{% url 'chat' user.username %}" class="open-chat-button">Open chat</a>
            
            {% if user not in request.user.friends_list %}
                <a href="{% url 'send_friend_request' user.pk %}" class="open-chat-button">Add to Friends</a>
            {% endif %}
            
            {% endif %}
        </div>
    </div>
    <div class="tabbar-view">
        <div class="tab-page images" data-tab-id="images">
            {% for post in posts %}
                <div class="image image-modal-target">
                    <div class="created-at">{{ post.created_at }}</div>
                    <img src="{{ post.image.url }}">
                </div>
            {% endfor %}
        </div>
        <div class="tab-page friends" data-tab-id="friends">
            
            {% for friend in friends %}
                <div class="wrapper">
                    <a class="friend" href="{% url 'user_profile' friend.friend.username %}">
                        <div class="image">
                            <img src="{{ friend.friend.avatar.url }}" alt="">
                        </div>
                        <div class="col">
                            <div class="full-name">{{ friend.friend.full_name }}</div>
                            <div class="username">@{{ friend.friend.username }}</div>
                        </div>
                    </a>
                    
                    {% if user != request.user %}
                        {% if friend.friend not in request.user.friends_list %}
                            <a href="{% url 'send_friend_request' friend.friend.pk %}" class="add-friend-button">Add Friend</a>
                        {% endif %}
                    {% endif %}
                </div>


                
            
            {% endfor %}

        </div>
    </div>
</div>

<div class="modal-wrapper hidden" data-modal-id="ADD-POST">
    <div class="modal">
        <div class="close">❌️</div>
        <div class="title mb-16">New Post</div>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <input type="hidden" name="id" value="ADD-POST">
            <div class="field mb-16">
                <div class="label mb-10">Image</div>
                <input type="file" name="image" accept="image/*">
            </div>
            <div class="field mb-16">
                <div class="label mb-10">Title</div>
                <input type="text" class="textfield" name="title">
            </div>
            <button class="btn primary">Submit</button>
        </form>
    </div>
</div>


<div class="modal-wrapper hidden" data-modal-id="UPDATE-IMAGE">
    <div class="modal">
        <div class="close">❌️</div>
        <div class="title mb-16">Update Avatar</div>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <input type="hidden" name="id" value="UPDATE-IMAGE">
            <div class="field mb-16">
                <div class="label mb-10">Avatar</div>
                <input type="file" name="image" accept="image/*">
            </div>
            <button class="btn primary">Submit</button>
        </form>
    </div>
</div>


<div class="modal-wrapper hidden" data-modal-id="UPDATE-BACKGROUND-IMAGE">
    <div class="modal">
        <div class="close">❌️</div>
        <div class="title mb-16">Update background image</div>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <input type="hidden" name="id" value="UPDATE-BACKGROUND-IMAGE">
            <div class="field mb-16">
                <div class="label mb-10">Image</div>
                <input type="file" name="image" accept="image/*">
            </div>
            <button class="btn primary">Submit</button>
        </form>
    </div>
</div>

<div class="image-modal d-none">
    <div class="wrapper">
        <img src="" alt="" id="current-image">
    </div>
</div>

<script src="{% static 'js/tabbar.js' %}"></script>

{% endblock %}