$main-color: #3b5998;



.content {
    margin: 0 auto;
    height: calc(100vh - 60px);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    position: relative;


    .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column-reverse;

        .messages {
            overflow: scroll;
            padding-bottom: 100px;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .message {
                display: flex;
                padding: .5rem;
                font-weight: 500;
                align-items: end;
                gap: .5rem;

                .col {
                    flex-grow: 1;
                    gap: .25rem;
                    display: flex;
                    flex-direction: column;
                    align-items: start;



                    .text {
                        background-color: #f1f1f1;
                        color: black;
                        padding: .75rem;
                        padding-bottom: 1.25rem;

                        max-width: 65%;
                        min-width: 10%;

                        text-align: start;
                        position: relative;
                        // border-radius: 1.5rem 1.5rem 1.5rem .5rem;

                        // &:last-child {
                        //     border-radius: .5rem 1.5rem 1.5rem 0;
                        // }

                        border-radius: .5rem 1.5rem 1.5rem .5rem;

                        &:first-child {
                            border-radius: 1.0rem 1.5rem 1.5rem .5rem;
                        }

                        &:last-child {
                            border-radius: .5rem 1.5rem 1.5rem 0;
                        }

                        .created-at {
                            position: absolute;
                            left: 5px;
                            bottom: 3px;
                            font-size: 11px;
                        }
                    }
                }

                .creator-avatar {
                    width: 45px;
                    height: 45px;

                    border-radius: 50%;
                }

                &.sended {
                    justify-content: start;
                    flex-direction: row-reverse;

                    .col {
                        align-items: end;

                        .text {
                            color: white;
                            background-color: teal;
                            text-align: end;
                            padding-left: .75rem;
                            border-radius: 1.5rem .5rem .5rem 1.5rem;

                            &:first-child {
                                border-radius: 1.5rem 1.0rem .5rem 1.5rem;
                            }
                            &:last-child {
                                border-radius: 1.5rem .5rem 0 1.5rem;
                            }


                            .created-at {
                                left: unset;
                                right: 5px;
                                bottom: 3px;
                            }
                        }
                    }
                }
            }
        }

    }

    .form {
        padding: 1rem;
        position: absolute;
        bottom: 1rem;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.1);
        align-items: center;
        gap: 10px;
        backdrop-filter: blur(2px);

        input {
            padding: .75rem 1rem;
            flex-grow: 1;
            font-size: 18px;
        }

        .send-button {
            padding: .75rem 1rem;
            height: 100%;
            color: white;
            cursor: pointer;
            font-size: 18px;

            background-color: $main-color;
        }
    }
}