{% extends 'base.html' %}{% load static %}


{% block link %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}


{% block content %}
<div class="content">
    <div class="form">
        <img src="{% static 'images/main-image.png' %}" class="logo">
        <div class="title">Ro'yhatdan o'tish</div>
        <form method="post" autocomplete="off">{% csrf_token %}
            <div class="field">
                <input type="text" name="username" autocomplete="off">  
                <div class="label">Username</div>
            </div>
            <div class="field">
                <input type="text" name="first_name" autocomplete="off">  
                <div class="label">Firstname</div>
            </div>
            <div class="field">
                <input type="text" name="last_name" autocomplete="off">  
                <div class="label">Lastname</div>
            </div>
            <div class="field">
                <input type="password" name="password1"> 
                <div class="label">Password</div>
            </div>
            <div class="field">
                <input type="password" name="password2"> 
                <div class="label">Password (repeat)</div>
            </div>

            <ul>
                <li>Minimum length 8 character</li>
            </ul>

            <button class="submit-button primary">Submit</button>

            {% if error %}
            <ul>
                <li>{{ error }}</li>
            </ul>
            {% endif %}
        </form>

        <div class="link">Already have an account? <a href="{% url 'login' %}">Login</a></div>
    </div>
</div>


<script>
    document.querySelectorAll('.field').forEach(field => {
        let label = field.querySelector('.label')
        let input = field.querySelector('input')

        label.addEventListener('click', (e) => {
            input.focus()
        })

        input.addEventListener('focus', (e) => {
            label.classList.add('focus')
        })

        input.addEventListener('focusout', (e) => {
            if (input.value.length == 0) {
                label.classList.remove('focus')
            }
        })
    })

</script>

{% endblock %}